In [9]:
a = 3
b = 4
a + b

7

In [10]:
import pandas as pd

In [32]:
def logging(f):
    def wrapper(df_, *args, **kwargs):
        print("Funktion:", f.__name__, "|", df_.shape)
    return wrapper

In [33]:
@logging
def init_pipeline(df_):
    return df_.copy()

In [34]:
def files_to_df(files):
    return pd.concat(
            [pd.read_csv(....) for f in files], 
            axis=1
    )

SyntaxError: invalid syntax (<ipython-input-34-51a65bb025bf>, line 3)

In [35]:
dfs = (files_to_df(files)
       .pipe(init_pipeline)
       .pipe(add_features)
       .pipe()
      )

NameError: name 'files_to_df' is not defined

In [36]:
@logging
def show(f):
    pass

In [37]:
show(pd.DataFrame())

Funktion: show | (0, 0)

In [58]:
class Data:
    def __init__(self, values):
        self.values = values
        
    def assign(self, **kwargs):
        
        for key, f in kwargs.items():
            if callable(f):
                self.values[key] = f(self.values)
            else:
                self.values[key] = f
        
        return self

In [62]:
d = {"A":[1,2,3,4], "B": list("abcd")}
df = pd.DataFrame(d)

d = (Data(df)
     .assign(Test=3, 
             Test2=lambda x: x["Test"]*4,
             Test3=df["A"])
    )
d.values

   A  B  Test  Test2  Test3
0  1  a     3     12      1
1  2  b     3     12      2
2  3  c     3     12      3
3  4  d     3     12      4